@media screen and (min-width: 1200px) {
  .header__nav .menu {
    column-gap: 20px;
  }
}

@media screen and (max-width: 992px) {
  .header {
    &__container {
      .header__nav {
        display: none;
      }
    }
    &__feedback {
      display: none;
    }
    &__contacts {
      width: 100%;
      justify-content: space-between;
    }
    &__phone {
      color: var(--main-color);
    }



    &-burger {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding: 25px 0;
  }
}