.header {
  padding: 50px 0;
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  &__nav {
    .menu {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 20px;
      a {
        color: var(--main-color);
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 105%; /* 18.9px */
        letter-spacing: 0.36px;
        text-transform: uppercase;
        transition: all .3s ease;
        &:hover {
          opacity: 0.6;
          color: var(--main-color);
        }
      }
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__phone {
    display: block;
    color: #FFF;
    text-align: right;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 23.1px */
    letter-spacing: 0.44px;
    text-transform: uppercase;
    transition: all .3s ease;
    white-space: nowrap;
    &:hover {
      color: #FFF;
      opacity: 0.6;
    }
  }
  &__feedback {
    display: block;
    color: #FFF;
    text-align: right;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 23.1px */
    letter-spacing: 0.44px;
    text-transform: uppercase;
    transition: all .3s ease;
    white-space: nowrap;
    &:hover {
      color: #FFF;
      opacity: 0.6
    }
  }
  &-burger {
    display: none;
  }
}